<h1>Add a new mongooses</h1>
<form action="/mongooses" method="post">
    Name: <input type="text" name="name"><br>
    Creater: <input type="text" name="creater"><br>
    <input type="submit" value="Add!">
</form>